name: build

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:

      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"
        
      - name: Build
        run: make releasegz

      - name: List built releases
        run: ls -lh release

      - name: Get version from VERSIONS file
        run: gonrgver=v$(awk -v FS="gonrg=" 'NF>1{print $2}' VERSIONS); echo "gonrgver=$gonrgver" >> $GITHUB_ENV;
        if: github.ref_type == 'tag'

      - name: Check if tag matches VERSIONS
        run: echo "Version tag does not equal content of VERSIONS (${{ github.ref_name }} != ${{ env.gonrgver }})"; exit 1
        if: github.ref_type == 'tag' && github.ref_name != env.gonrgver

      - name: Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag' && github.ref_name == env.gonrgver
        with:
          files: |
            release/*
